@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  background-color: #f8f9fa;
}
